/* Tag */
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
}

video {
    width: 100%;
    height: 100%;
}

video::-webkit-media-controls {
    display: none;
}

#media-player {
    position: absolute;
    background-color: #262626;
    width: 100%;
    height: 100%;
}

#spinner {
    position: absolute;
    background-color: #262626;
    transform-origin: 0 0 0;
}

#spinner-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-bar {
    background: #262626;
    padding: 20px 20px 20px 20px;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

#top-bar-right-aligned {
    height: 100%;
    margin-left: auto;
}

#scaler {
    position: absolute;
    transform-origin: 0 0 0;
}

#home-content {
    overflow-y: overlay;
    height: 89%
}

/* Class */
.icon-holder {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}

.icon {
    height: 100%;
    fill: #FFFFFF;
}

.header {
    margin: 0 0 0 0;
    padding: 20px;
    text-align: center;

    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
}

.hidden {
    display: none;
}

.item .title {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
}

.item .img {
    width: 100%;
}

.item {
    width: 620px;
    margin: 10px;
    background: #3b3b3b;
}

.selected {
    background: #ff9200;
}

.selected .title {
    color: #262626;
    font-weight: bolder;
}

.strip {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    display: block;
    white-space: nowrap;
    overflow-x: overlay;
    -webkit-overflow-scrolling: touch;
}

.strip .item {
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-left: 0 solid white;
    border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
    background: #ac5600;
    border: 4px solid #262626;
}



