/* Tag */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;

    /* Disable dragging images and selecting text */
    user-select: none;

    /* Force hardware rendering */
    transform: translate3d(0, 0, 0);
}

#video {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

#video::-webkit-media-controls {
    display: none;
}

#spinner {
    transform-origin: 0 0 0;
    width: 20vmin;
}

#home {
    position:absolute;
    width: 100vw;
}

#home #strips {
    position: relative;
    height: 100vh;
}

#debug-info {
    position:absolute;
    font-size: 2vmin;
    color: white;
}

/* Class */
.v-scroller {
    overflow-y: auto;
}

.center-mid {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padding {
    padding: 1.5vmin;
}

.header {
    margin-top: 5vmin;
    text-align: center;

    font-size: 2.5vmin;
    font-family: Roboto, sans-serif;
    color: white;
}

.hidden {
    display: none;
}

.item .title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    color: white;
}

.item .img {
    width: 100%;
}

.item {
    width: 35vmin;
    background: #3b3b3b;

    margin-left: 1vmin;
    margin-right: 1vmin;
}

.selected-row {
    background: #a1ff65;
}

.selected-item {
    background: #ff9200;
}

.selected-item .title {
    color: #262626;
    font-weight: bolder;
}

.strip {
    margin-left: 0;
    margin-right: 0;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.strip .item {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 1.0vmin;
    height: 1.0vmin;
    padding: 0;
    border: 0;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #ac5600;
}