:root {
    --bg-color: black;

    --header-color: black;
    --header-text-color: white;
    --header-text-size: 16px;
    --title-text-size: 12px;
    --description-text-size: 10px;

    --text-size: 8px;
    --text-family: Roboto, sans-serif;
    --text-color: white;

    --selected-bg-color: rgba(255, 255, 255, 0.15);

    --padding: 5px;
}

/* Tag */
html {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;

    /* Disable selecting text */
    user-select: none;
}

body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
}

#spinner {
    position: absolute;
    transform-origin: 0 0 0;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#home {
    position: absolute;
    width: 100%;
}

#home #logo {
    width: 100px;
}

#home #strips {
    position: relative;
    height: 100%;
}

#debug-info {
    position: absolute;
    font-size: var(--text-size);
    color: white;
}

/* Class */
.v-scroller {
    overflow-y: hidden;
}

.header {
    background-color: var(--header-color);
    margin-top: 10px;
    padding: var(--padding) var(--padding) var(--padding) 20px;
    text-align: left;

    font-size: var(--header-text-size);
    font-family: var(--text-family);
    color: var(--header-text-color);
}

.hidden {
    display: none;
}

.item .title {
    padding: var(--padding);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    font-size: var(--title-text-size);
    font-family: var(--text-family);
    color: var(--text-color);
}

.item .episodeName {
    position: absolute;
    bottom: 4px;
    padding: var(--padding);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    border-radius: 0 5px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: var(--description-text-size);
    font-family: var(--text-family);
    color: var(--text-color);
}

.item .episodeNumber {
    position: absolute;
    top: 24px;
    right: 0;
    padding: var(--padding);
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    border-radius: 0 0 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: var(--description-text-size);
    font-family: var(--text-family);
    color: var(--text-color);
}

.item .img {
    width: 100%;
}

.item {
    position: relative;
    width: 168px;

    margin-left: 2px;
    margin-right: 2px;
}

.selected-row .selected-item {
    background-color: rgba(255, 255, 255, 0.2);
}

.strip {
    margin-left: 0;
    margin-right: 0;
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.strip .item {
    display: inline-block;
}

.videoContainer {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.control-icon {
    height: 100%;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video::-webkit-media-controls {
   display: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}